<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.profalexandre.fatecmobile">

    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".telas.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".telas.usuarios.AddUsuActivity"
            android:label="@string/title_activity_add_usu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.usuarios.ListUsuActivity"
            android:label="@string/title_activity_list_usu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.usuarios.UptUsuActivity"
            android:label="@string/title_activity_upt_usu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.usuarios.ListUsuParamActivity"
            android:label="@string/title_activity_list_usu_param"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".telas.produtos.AddProdActivity"
            android:label="@string/title_activity_add_prod"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".telas.produtos.ListProdActivity"
            android:label="ListProdActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".telas.produtos.UptProActivity"
            android:label="UptProActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".telas.produtos.ListProdPesqActivity"
            android:label="@string/title_activity_list_prod_pesq"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".telas.clientes.AddCliActivity"
            android:label="@string/title_activity_add_cli"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.clientes.ListCliActivity"
            android:label="@string/title_activity_list_cli"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.clientes.ListCliPesqActivity"
            android:label="@string/title_activity_list_cli_pesq"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".telas.clientes.UptCliActivity"
            android:label="@string/UptCliActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.estoques.AddEstActivity"
            android:label="@string/title_activity_add_est"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.estoques.UptEstActivity"
            android:label="@string/UptEstActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.estoques.ListEstActivity"
            android:label="@string/title_activity_list_est"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".telas.estoques.ListEstPesqActivity"
            android:label="@string/title_activity_list_est_pesq"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".telas.clientes.MenuCliActivity"
            android:label="@string/title_activity_menu_cli"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".telas.usuarios.MenuUsuActivity"
            android:label="@string/title_activity_menu_usu"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".telas.produtos.MenuProdActivity"
            android:label="@string/title_activity_menu_prod"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".telas.estoques.MenuEstActivity"
            android:label="@string/title_activity_menu_est"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".telas.pedidos.MenuPedActivity"
            android:label="@string/title_activity_menu_ped"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".telas.pedidos.AddPedActivity"
            android:label="@string/title_activity_add_ped"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.pedidos.UptPedActivity"
            android:label="@string/title_activity_upt_ped"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".telas.pedidos.ListPedActivity"
            android:label="@string/title_activity_list_ped"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".telas.pedidos.ListPedPesqActivity"
            android:label="@string/title_activity_list_ped_pesq"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
